body {
    background-color: #4a69bd;
    color: #ffffff;
    font-family: 'Barlow', sans-serif;
    margin: 0;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 35px;
}

a {
    color: white;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
}