body {
    background-color: #4a69bd;
    color: #ffffff;
    font-family: 'Barlow', sans-serif;
    margin: 0;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 35px;
    text-align: left;
}

a {
    color: white;
    font-size: 35px;
}

img {
    max-width: 450px;
}

strong,
a {
    color: #fd79a8;
    transition: 300ms;
}


li {
    list-style: none;
    font-size: 30px;
    margin-bottom: 40px;
    text-align: left;
    color: #fd79a8;
}

a:hover {
    opacity: .7;
    color: black;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

pre {
    text-align: left;
    color: black;
    background-color: white;
    font-size: 30px;
    padding: 20px;
}


.background-example {
    background-image: url('images/fluffy-cat.jpg');
    background-size: cover;
    height: 300px;
    width: 400px;
}

.disappear:hover {
    opacity: 0;
}
