body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to top, #e8198b 0%, #c7eafd 100%);
}

header, 
footer {
    background-color:#D375B0;
    color: white;
}

footer {
    padding: 5px;
    text-align: center;
}


nav {
    padding: 20px;
}

nav a {
    margin-right: 20px;
}

nav span {
    margin-right: 20px;
}

li {
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

section {
    padding: 25px 100px;
    margin: 0 40px;
    background-color: white;
}

img {
    max-width: 300px;
    display: inline-block;
    margin: 0 auto;
    margin-right: 15px;
    border: solid 3px #D375B0;
    border-radius: 50%;
}

.name {
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}

.centered {
    text-align: center;
    margin-top: 50px;
    padding-top: 50px;
}

